*{
    margin: 0;
    padding: 0;  
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.help-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.help-section-item{
    width: 60%;
    margin: auto;
    padding: 12% 0;
  text-align: center;
  justify-content: center;
    
}
.help-section-item h1{
    font-size: 60px;
    color: white;
}
.help-section-item p{
color: white;
margin-bottom: 5%;

}
.help-section-item a{
    text-decoration: none;
    background-color: tomato;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    
    
}
.donate{
    margin: 5%;
}
.donate-item{
    width: 60%;
    justify-content: center;
    margin: auto;
   text-align: center;
}
.donate-item h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.donate-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.donate-card ul{
    list-style: none;
    
    display: flex;
}
.donate-card ul li a{
    display: inline-block;
    padding: 50px 50px;
    background-color: rgb(242, 246, 245);
    margin-right: 20px;
    border: 1px solid rgb(242, 246, 245);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
   color: rgb(83, 74, 74);
   font-size: 30px;

}
.donate-card ul li a:hover{
    border: 3px solid tomato;
    background-color: rgb(242, 216, 216);
    color: tomato;
}
.donate-now{
    padding-top: 40px;
    width: 60%;
   text-align: center;
  margin: auto;
   
}
.donate-now h4{
    font-weight: 400;
    font-size: 24px;
    color: gainsboro;
}
hr{
    margin-bottom: 40px;
}
.donate-now a{
    text-decoration: none;
    background-color: tomato;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
  
}
.provide-item{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}
.food{
    width: 25%;
    margin: 30px 20px;
    padding: 70px 15px;
    background-color: rgb(207, 214, 214);
    border-radius: 5px;
    
    
}
.shelter{
    width: 25%;
    margin: 30px 20px;
    padding: 70px 15px;
    background-color: rgb(234, 221, 235);
    border-radius: 5px; 
}
.education{
    width: 25%;
    margin: 30px 20px;
    padding: 70px 15px;
    background-color: rgb(234, 217, 155);
    border-radius: 5px;
}
.provide-item img{
    margin-bottom: 25px;
}
.provide-item h3{
    margin-bottom: 20px;
}
.provide-item p{
    color: grey;
}
.depends{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10%;
  
    
}
.half-width{
  margin-right: 5%;
    
    
}
.half-width h1{
    font-size: 40px;
    font-weight: 700;
  
}
.half-width p{
   margin-top:5% ;
    margin-bottom: 10%;
}
.half-width img{
    border-radius: 5px;
   
}
.half-width a{
    text-decoration: none;
    background-color: tomato;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    
}
.Survive{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
.sign-up{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 8%;
}
.sign-up h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sign-up-item{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10% 15%;
    background-color: rgb(234, 217, 155);
    position: relative;
    display: block;
}

.mail input {
    width: 60%;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: rgb(218, 215, 215);
    
    
}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    background: tomato;
    padding: 18px 70px;
    font-size: 17px;
   color: white;
   border-radius: 5px;
}
